<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" spring lang="en">
<head th:replace="fragments/header :: main-header('Show Post Page')"></head>
<body>
<nav th:replace="fragments/navbar :: main-navbar"></nav>
<h2 class="ml-2 text-center mb-4 mt-2">Details of Post</h2>
<div class="row ml-2 d-flex justify-content-center ">
    <div class="col-3 card border-primary bg-light mb-2 ml-2 mt-4 mr-2 d-flex flex-wrap" style="max-width: 28rem">
        <div class="row card-header">Post Title: <span th:text="${post.title}"></span></div>
        <div class="card-body">
            <h5 class="card-title">Post Body: <span th:text="${post.body}"</span></h5>
            <h5 class="card-text">Post Id: <span th:text="${post.id}"></span></h5>
        </div>
    </div>
</div>
<div>
    <div th:each="image : ${post.postImages}">
        <img th:src="${image.url}" alt="cat"/>
    </div>
</div>
<footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>