<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-header('People Page')"></head>
<body>
<h1>People</h1>
<div class="card d-flex align-content-around flex-wrap row mr-2 ml-2 mt-2 mb-2" style="width: 18rem;">
    <div class="bg-primary card-body mr-2 ml-2 mt-2 mb-2" th:each="people : ${person}">
        <h5 class="card-title">Person Id <span th:text="${people.id}"</span></h5>
        <h6 class="card-subtitle mb-2 text-muted">Person Firstname <span th:text="${people.firstName}"></span></h6>
        <p class="card-text">Person Lastname <span th:text="${people.lastName}"></span></p>
    </div>
</div>

</body>
</html>